raspi-system-dashboard
[
    {
        "id": "e73c0aea.cf3a78",
        "type": "tab",
        "label": "System Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "253ff97f.a70ea6",
        "type": "ui_gauge",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "7bc89e60.d6d3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "eec27406.0642a8",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "f596f8d4.d7ae88"
            ],
            [],
            []
        ]
    },
    {
        "id": "8b219636.e46438",
        "type": "inject",
        "z": "e73c0aea.cf3a78",
        "name": "Every 20 seconds",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "20",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "eec27406.0642a8",
                "d872284e.5473d8",
                "716bd73f.c52168",
                "3c1ca4bc.19f4ec",
                "974a29ce.5296c8",
                "2b3f5d3d.f9c112",
                "c73e8886.7d6588"
            ]
        ]
    },
    {
        "id": "f596f8d4.d7ae88",
        "type": "function",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "253ff97f.a70ea6",
                "c80064ed.238e48"
            ]
        ]
    },
    {
        "id": "5c07cc1b.f49864",
        "type": "ui_button",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "1bc90564.9f5c6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "3114b3c.f88564c"
            ]
        ]
    },
    {
        "id": "3114b3c.f88564c",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 440,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "686393d.b1a3a6c",
        "type": "ui_button",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "1bc90564.9f5c6b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Shutdown",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "d432a45a.b0c958"
            ]
        ]
    },
    {
        "id": "d432a45a.b0c958",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 440,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c80064ed.238e48",
        "type": "ui_chart",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "7bc89e60.d6d3c",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 770,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d872284e.5473d8",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "6c99eaa2.baed14"
            ],
            [],
            []
        ]
    },
    {
        "id": "716bd73f.c52168",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "free -m| grep Mem | awk '{print $3}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Memory Usage",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "81e5a314.79a02"
            ],
            [],
            []
        ]
    },
    {
        "id": "6c99eaa2.baed14",
        "type": "ui_gauge",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "7bc89e60.d6d3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "CPU Load",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "81e5a314.79a02",
        "type": "ui_gauge",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "4af3ed09.25d134",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Memory Usage (MB)",
        "label": "MB",
        "format": "{{value}}",
        "min": 0,
        "max": "434",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "ccf2ae97.88ac8",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "9d875acd.4f1238"
            ],
            [],
            []
        ]
    },
    {
        "id": "91c7b1bb.cb54e",
        "type": "ui_gauge",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "f327f981.2a3a08",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk Usage",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "9d875acd.4f1238",
        "type": "function",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "91c7b1bb.cb54e"
            ]
        ]
    },
    {
        "id": "ab3c1342.1b492",
        "type": "inject",
        "z": "e73c0aea.cf3a78",
        "name": "Every 10 Mins",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 600,
        "wires": [
            [
                "ccf2ae97.88ac8"
            ]
        ]
    },
    {
        "id": "bf637375.821b4",
        "type": "debug",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c1ca4bc.19f4ec",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "systemctl status docker.service |grep \"Active:\"|awk '{print $2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Docker Status",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "bf2d6a7f.cd7438"
            ],
            [],
            []
        ]
    },
    {
        "id": "bf2d6a7f.cd7438",
        "type": "ui_text",
        "z": "e73c0aea.cf3a78",
        "group": "d01ff670.feb6c8",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "Docker Status",
        "label": "Docker",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "974a29ce.5296c8",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "/usr/bin/uptime | awk '{print $(NF-2),$(NF-1),$NF}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "System Load",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "21f5bf93.0320d"
            ],
            [],
            []
        ]
    },
    {
        "id": "21f5bf93.0320d",
        "type": "ui_text",
        "z": "e73c0aea.cf3a78",
        "group": "d01ff670.feb6c8",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "System Load",
        "label": "System Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b3f5d3d.f9c112",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "free -m | grep Swap | awk '{print $3}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap Usage",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "84ac6901.0f9318"
            ],
            [],
            []
        ]
    },
    {
        "id": "84ac6901.0f9318",
        "type": "ui_gauge",
        "z": "e73c0aea.cf3a78",
        "name": "",
        "group": "4af3ed09.25d134",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Swap Usage (MB)",
        "label": "MB",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "c73e8886.7d6588",
        "type": "exec",
        "z": "e73c0aea.cf3a78",
        "command": "systemctl status home-assistant.service |grep \"Active:\"|awk '{print $2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "HA Status",
        "x": 439,
        "y": 522.5,
        "wires": [
            [
                "18138e4e.496452"
            ],
            [],
            []
        ]
    },
    {
        "id": "18138e4e.496452",
        "type": "ui_text",
        "z": "e73c0aea.cf3a78",
        "group": "d01ff670.feb6c8",
        "order": 0,
        "width": "3",
        "height": "1",
        "name": "HA Status",
        "label": "HA Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "7bc89e60.d6d3c",
        "type": "ui_group",
        "z": "",
        "name": "Col1",
        "tab": "31c33a46.e94e86",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "1bc90564.9f5c6b",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "31c33a46.e94e86",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "4af3ed09.25d134",
        "type": "ui_group",
        "z": "",
        "name": "Col2",
        "tab": "31c33a46.e94e86",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "f327f981.2a3a08",
        "type": "ui_group",
        "z": "",
        "name": "Col3",
        "tab": "31c33a46.e94e86",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "d01ff670.feb6c8",
        "type": "ui_group",
        "z": "",
        "name": "Service Status",
        "tab": "31c33a46.e94e86",
        "order": 4,
        "disp": true,
        "width": "3"
    },
    {
        "id": "31c33a46.e94e86",
        "type": "ui_tab",
        "z": "",
        "name": "RasPI0 System Control",
        "icon": "dashboard",
        "order": 1
    }
]
