raspi-system-dashboard
[
    {
        "id": "5e71249c.a1510c",
        "type": "tab",
        "label": "System Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5067522.2f9a2ac",
        "type": "ui_gauge",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "12cd936d.628c3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "c7615e78.7568d",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "f47d2d00.ece5b"
            ],
            [],
            []
        ]
    },
    {
        "id": "40b7e701.19a278",
        "type": "inject",
        "z": "5e71249c.a1510c",
        "name": "Every 20 seconds",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "20",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "c7615e78.7568d",
                "f6f6b64a.d5e508",
                "6aea4999.9f9198",
                "e3f860f6.6fb19",
                "f1315a1a.bdb668",
                "50bbd979.381408"
            ]
        ]
    },
    {
        "id": "f47d2d00.ece5b",
        "type": "function",
        "z": "5e71249c.a1510c",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "5067522.2f9a2ac",
                "9e810007.375da"
            ]
        ]
    },
    {
        "id": "f2b20f7a.f5b5a",
        "type": "ui_button",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "658e8fe0.da9b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "d556c6ab.13eed8"
            ]
        ]
    },
    {
        "id": "d556c6ab.13eed8",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 440,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3a82a6aa.fe8e2a",
        "type": "ui_button",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "658e8fe0.da9b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Shutdown",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "ce925cca.ac4e3"
            ]
        ]
    },
    {
        "id": "ce925cca.ac4e3",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 440,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9e810007.375da",
        "type": "ui_chart",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "12cd936d.628c3d",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 770,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6f6b64a.d5e508",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "185b64ba.ccd2eb"
            ],
            [],
            []
        ]
    },
    {
        "id": "6aea4999.9f9198",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "free -m| grep Mem | awk '{print $3}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Memory Usage",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "c72a803a.ff995"
            ],
            [],
            []
        ]
    },
    {
        "id": "185b64ba.ccd2eb",
        "type": "ui_gauge",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "12cd936d.628c3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "CPU Load",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "c72a803a.ff995",
        "type": "ui_gauge",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "3c2d17cd.08ba88",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Memory Usage (MB)",
        "label": "MB",
        "format": "{{value}}",
        "min": 0,
        "max": "434",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "6c2dd25.da02e2c",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "7f55fa63.0933b4"
            ],
            [],
            []
        ]
    },
    {
        "id": "3bbfe3e9.79db0c",
        "type": "ui_gauge",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "1072d95.ff12727",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk Usage",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "7f55fa63.0933b4",
        "type": "function",
        "z": "5e71249c.a1510c",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "3bbfe3e9.79db0c"
            ]
        ]
    },
    {
        "id": "9d617557.9e0c08",
        "type": "inject",
        "z": "5e71249c.a1510c",
        "name": "Every 10 Mins",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 600,
        "wires": [
            [
                "6c2dd25.da02e2c"
            ]
        ]
    },
    {
        "id": "e0775a8c.03fac8",
        "type": "debug",
        "z": "5e71249c.a1510c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3f860f6.6fb19",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "systemctl status docker.service |grep \"Active:\"|awk '{print $2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Docker Status",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "800d836f.eae64"
            ],
            [],
            []
        ]
    },
    {
        "id": "800d836f.eae64",
        "type": "ui_text",
        "z": "5e71249c.a1510c",
        "group": "a1d41e31.6e7a3",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "Docker Status",
        "label": "Docker",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "f1315a1a.bdb668",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "/usr/bin/uptime | awk '{print $(NF-2),$(NF-1),$NF}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "System Load",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "66d2f9c4.b34bd8"
            ],
            [],
            []
        ]
    },
    {
        "id": "66d2f9c4.b34bd8",
        "type": "ui_text",
        "z": "5e71249c.a1510c",
        "group": "a1d41e31.6e7a3",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "System Load",
        "label": "System Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "50bbd979.381408",
        "type": "exec",
        "z": "5e71249c.a1510c",
        "command": "free -m | grep Swap | awk '{print $3}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Swap Usage",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "864d4726.46ed78"
            ],
            [],
            []
        ]
    },
    {
        "id": "864d4726.46ed78",
        "type": "ui_gauge",
        "z": "5e71249c.a1510c",
        "name": "",
        "group": "3c2d17cd.08ba88",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Swap Usage (MB)",
        "label": "MB",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "12cd936d.628c3d",
        "type": "ui_group",
        "z": "",
        "name": "Col1",
        "tab": "4e4f6ae5.8227c4",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "658e8fe0.da9b5",
        "type": "ui_group",
        "z": "",
        "name": "Actions",
        "tab": "4e4f6ae5.8227c4",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3c2d17cd.08ba88",
        "type": "ui_group",
        "z": "",
        "name": "Col2",
        "tab": "4e4f6ae5.8227c4",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "1072d95.ff12727",
        "type": "ui_group",
        "z": "",
        "name": "Col3",
        "tab": "4e4f6ae5.8227c4",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a1d41e31.6e7a3",
        "type": "ui_group",
        "z": "",
        "name": "Service Status",
        "tab": "4e4f6ae5.8227c4",
        "order": 4,
        "disp": true,
        "width": "3"
    },
    {
        "id": "4e4f6ae5.8227c4",
        "type": "ui_tab",
        "z": "",
        "name": "RasPI0 System Control",
        "icon": "dashboard",
        "order": 1
    }
]
